.about-container {
  align-items: center;
  text-align: center;
}

.about-container img {
  border-radius: 15px;
}
.about-text {
  padding: 50px;
}

/* @media only screen and (max-width: 688px) {
  .about-container {
    flex-direction: column;
  }
  .about-text {
    padding: 30px;
  }
} */
@media only screen and (max-width: 991px) {
  .about-container {
    flex-direction: column;
  }
  .about-text {
    padding: 30px;
  }
}
