.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* login-form-edit{
  background-color: aquamarine;
  width: 80%;
} */
.login-form h2 {
  color: white;
}
.login-form-edit {
  border-radius: 5px;
  width: 300px;
}

.login-text {
  text-decoration: none;
}

.txt-color {
  color: white;
}

@media only screen and (max-width: 688px) {
  .login-button {
    flex-direction: column;
    justify-items: center;
    align-items: center ; 
  }
  .login-buttons {
    margin-bottom: 15px;
    margin-right: 0%;
  }
  .google-icon {
    margin-left: 18px;
  }
}
