/* .footer-part {
  position: absolute;
} */
.footer-img {
  width: 50px;
}

.footer-text {
  color: rgb(107, 106, 106);
  text-align: center;
}

.icon-img1 {
  width: 30px;
}
.icon-img2 {
  width: 40px;
}
.icon-img3 {
  width: 28px;
}

@media only screen and (max-width: 688px) {
  .footer-text {
    font-size: 11px;
  }
  .icon-img1 {
    width: 25px;
  }
  .icon-img2 {
    width: 35px;
  }
  .icon-img3 {
    width: 23px;
  }
}
